.Rproj.user
.Rhistory
.RData
.Ruserdata

# 'data' folder #
data/
outputs/

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS]*

# SPSS formats #
*.[sS][aA][vV]

*.[hH][tT][mM][lL]
